In [2557]:
import pandas as pd

# Approval Rates

In [2558]:
ApprovalRates = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_ApprovalRates.csv", header=1)
ApprovalRates = pd.DataFrame(ApprovalRates)
ApprovalRates.drop(ApprovalRates.columns[[i for i in range(8, 25)]], axis=1, inplace=True)
ApprovalRates.drop(columns=["Geography", "Demographic", "Demographic Value", "Disapprove", "(DK/Refused)", "N Size"], inplace=True)
ApprovalRates.dropna(axis=0, inplace=True)
ApprovalRates.drop([i for i in range(5)], inplace=True)
ApprovalRates["Approve"] = ApprovalRates["Approve"].str.rstrip("%").astype("float") / 100
ApprovalRates.set_index("Time", inplace=True)
ApprovalRates = ApprovalRates.iloc[::-1]
ApprovalRates

          Approve
Time
Jan/1999     0.69
Feb/1999     0.66
Mar/1999     0.64
Apr/1999     0.59
May/1999     0.58
...           ...
Aug/2023     0.42
Sep/2023     0.41
Oct/2023     0.37
Nov/2023     0.37
Dec/2023     0.39

[298 rows x 1 columns]

# Consumer Inflation Rate

In [2559]:
InflationRates = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_InflationRate.csv", header=0)
InflationRates = InflationRates.drop(columns=["HALF1", "HALF2"])
InflationRates.drop(61, inplace=True)
InflationRates.drop([i for i in range(36)],  inplace=True)
InflationRates

    Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
36  1999  2.4  2.1  2.1  2.2  2.0  2.1  2.1  1.9  2.0  2.1  2.1  1.9
37  2000  2.0  2.2  2.4  2.3  2.4  2.5  2.5  2.6  2.6  2.5  2.6  2.6
38  2001  2.6  2.7  2.7  2.6  2.5  2.7  2.7  2.7  2.6  2.6  2.8  2.7
39  2002  2.6  2.6  2.4  2.5  2.5  2.3  2.2  2.4  2.2  2.2  2.0  1.9
40  2003  1.9  1.7  1.7  1.5  1.6  1.5  1.5  1.3  1.2  1.3  1.1  1.1
41  2004  1.1  1.2  1.6  1.8  1.7  1.9  1.8  1.7  2.0  2.0  2.2  2.2
42  2005  2.3  2.4  2.3  2.2  2.2  2.0  2.1  2.1  2.0  2.1  2.1  2.2
43  2006  2.1  2.1  2.1  2.3  2.4  2.6  2.7  2.8  2.9  2.7  2.6  2.6
44  2007  2.7  2.7  2.5  2.3  2.2  2.2  2.2  2.1  2.1  2.2  2.3  2.4
45  2008  2.5  2.3  2.4  2.3  2.3  2.4  2.5  2.5  2.5  2.2  2.0  1.8
46  2009  1.7  1.8  1.8  1.9  1.8  1.7  1.5  1.4  1.5  1.7  1.7  1.8
47  2010  1.6  1.3  1.1  0.9  0.9  0.9  0.9  0.9  0.8  0.6  0.8  0.8
48  2011  1.0  1.1  1.2  1.3  1.5  1.6  1.8  2.0  2.0  2.1  2.2  2.2
49  2012  2.3  2.2  2.3  2.3  2.3  2.2  2.1  1.9  2.0  2.0  1.9  1.9
50  2013  1.9  2.0  1.9  1.7  1.7  1.6  1.7  1.8  1.7  1.7  1.7  1.7
51  2014  1.6  1.6  1.7  1.8  2.0  1.9  1.9  1.7  1.7  1.8  1.7  1.6
52  2015  1.6  1.7  1.8  1.8  1.7  1.8  1.8  1.8  1.9  1.9  2.0  2.1
53  2016  2.2  2.3  2.2  2.1  2.2  2.2  2.2  2.3  2.2  2.1  2.1  2.2
54  2017  2.3  2.2  2.0  1.9  1.7  1.7  1.7  1.7  1.7  1.8  1.7  1.8
55  2018  1.8  1.8  2.1  2.1  2.2  2.3  2.4  2.2  2.2  2.1  2.2  2.2
56  2019  2.2  2.1  2.0  2.1  2.0  2.1  2.2  2.4  2.4  2.3  2.3  2.3
57  2020  2.3  2.4  2.1  1.4  1.2  1.2  1.6  1.7  1.7  1.6  1.6  1.6
58  2021  1.4  1.3  1.6  3.0  3.8  4.5  4.3  4.0  4.0  4.6  4.9  5.5
59  2022  6.0  6.4  6.5  6.2  6.0  5.9  5.9  6.3  6.6  6.3  6.0  5.7
60  2023  5.6  5.5  5.6  5.5  5.3  4.8  4.7  4.3  4.1  4.0  4.0  3.9

In [2560]:
InflationRates_Stacked = pd.DataFrame(columns=["Time", "Inflation Rate"])
for i in range(len(InflationRates)):
    for j in range(1, len(InflationRates.columns)):
        InflationRates_Stacked.loc[len(InflationRates_Stacked)] = [f"{InflationRates.columns[j]}/{InflationRates.iloc[i, InflationRates.columns.get_loc('Year')]}",
                                                               f"{InflationRates.iloc[i, InflationRates.columns.get_loc(InflationRates.columns[j])]}"]
InflationRates_Stacked.set_index("Time", inplace=True)
InflationRates_Stacked

         Inflation Rate
Time
Jan/1999            2.4
Feb/1999            2.1
Mar/1999            2.1
Apr/1999            2.2
May/1999            2.0
...                 ...
Aug/2023            4.3
Sep/2023            4.1
Oct/2023            4.0
Nov/2023            4.0
Dec/2023            3.9

[300 rows x 1 columns]

# Producer Inflation Rate

In [2561]:
PInflationRates = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_ProducerInflationRate.csv", header=0)
# PInflationRates = CInflationRates.drop(columns=["HALF1", "HALF2"])
PInflationRates.drop(25, inplace=True)
# PInflationRates.drop([i for i in range(36)],  inplace=True)
PInflationRates

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1999,0.2,-0.2,0.3,0.9,0.2,0.1,0.4,0.5,0.5,0.4,0.1,0.2
1,2000,0.2,1.1,0.5,-0.2,0.4,0.8,-0.2,-0.3,0.9,0.1,0.0,-0.4
2,2001,0.4,0.0,-0.2,0.8,0.7,-0.5,-1.0,0.1,0.7,-1.4,-0.7,-0.8
3,2002,0.1,0.2,0.6,0.8,-0.2,0.1,0.0,0.1,1.0,0.4,-0.7,-0.4
4,2003,1.3,1.4,0.8,-1.7,-0.4,0.4,0.1,0.4,0.1,0.8,-0.4,0.0
5,2004,0.9,0.3,0.7,1.1,1.1,-0.3,0.2,0.3,0.3,1.6,-0.3,-0.8
6,2005,0.8,0.5,1.3,0.5,-0.1,0.1,0.9,0.5,1.6,1.6,-2.5,0.1
7,2006,0.9,-0.4,1.0,1.4,0.8,0.6,-0.1,0.3,-1.9,-0.6,0.3,0.3
8,2007,-0.3,0.8,1.5,1.3,1.0,-0.1,0.7,-1.2,0.4,0.5,2.1,-0.7
9,2008,1.0,0.7,2.2,1.1,2.3,1.4,2.0,-1.6,0.2,-3.3,-4.2,-3.1
10,2009,0.4,-0.5,-0.6,0.8,1.0,1.6,-0.8,1.4,-0.5,0.2,1.1,0.1
11,2010,1.3,-0.5,1.0,0.7,0.5,-0.7,-0.1,0.3,0.1,1.0,0.5,0.5
12,2011,1.1,1.2,2.2,1.5,0.9,-0.4,0.3,-0.5,0.4,-0.7,0.2,-0.5
13,2012,0.8,0.5,1.1,0.2,-0.6,-1.0,-0.3,1.2,1.0,-0.2,-1.3,-0.4
14,2013,0.4,1.3,-0.4,-0.3,0.0,-0.1,0.1,0.3,-0.2,-0.3,-0.5,0.3
15,2014,0.5,0.5,0.5,0.7,-0.2,0.0,0.1,0.0,-0.3,-1.0,-1.1,-1.9
16,2015,-2.2,0.2,0.4,-0.3,1.3,0.4,-0.2,-0.8,-1.4,-0.3,-0.4,-1.1
17,2016,-0.6,-0.6,0.3,0.7,0.8,0.9,-0.1,-0.5,0.3,0.4,-0.3,0.4
18,2017,0.9,0.3,0.3,0.5,-0.2,0.2,-0.2,0.6,0.6,0.3,0.5,0.1
19,2018,0.7,0.5,0.3,0.7,1.2,0.4,0.1,0.1,0.2,0.8,-1.0,-1.6
20,2019,-0.5,0.6,1.0,0.9,-0.1,-1.1,0.3,-0.6,-0.3,0.4,-0.1,-0.1
21,2020,0.1,-0.8,-1.4,-3.2,1.5,0.7,1.1,0.4,-0.1,0.4,0.4,1.1
22,2021,1.5,1.8,2.4,1.1,2.4,1.3,0.7,0.3,0.8,1.6,0.7,-0.3
23,2022,2.2,2.5,3.4,1.7,2.7,2.3,-2.2,-2.0,0.2,0.8,-0.4,-3.1
24,2023,1.7,0.1,-0.1,-0.2,-1.0,-0.2,-0.1,2.3,0.5,-1.3,-1.1,-1.3

In [2562]:
PInflationRates_Stacked = pd.DataFrame(columns=["Time", "Producer Inflation Rate"])
for i in range(len(PInflationRates)):
    for j in range(1, len(PInflationRates.columns)):
        PInflationRates_Stacked.loc[len(PInflationRates_Stacked)] = [f"{PInflationRates.columns[j]}/{PInflationRates.iloc[i, PInflationRates.columns.get_loc('Year')]}",
                                                               f"{PInflationRates.iloc[i, PInflationRates.columns.get_loc(PInflationRates.columns[j])]}"]
PInflationRates_Stacked.set_index("Time", inplace=True)
PInflationRates_Stacked

         Producer Inflation Rate
Time
Jan/1999                     0.2
Feb/1999                    -0.2
Mar/1999                     0.3
Apr/1999                     0.9
May/1999                     0.2
...                          ...
Aug/2023                     2.3
Sep/2023                     0.5
Oct/2023                    -1.3
Nov/2023                    -1.1
Dec/2023                    -1.3

[300 rows x 1 columns]

# GDP Growth Rate

In [2563]:
GDPGrowthRates = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_RealGDPGrowthRates.csv", names=["Time", "GDP Growth Rate"])
GDPGrowthRates.drop(index=0, inplace=True)
GDPGrowthRates.drop([i for i in range(1, 209)], inplace=True)
GDPGrowthRates

           Time GDP Growth Rate
209  1999-04-01             3.4
210  1999-07-01             5.4
211  1999-10-01             6.7
212  2000-01-01             1.5
213  2000-04-01             7.5
..          ...             ...
304  2023-01-01             2.2
305  2023-04-01             2.1
306  2023-07-01             4.9
307  2023-10-01             3.4
308  2024-01-01             1.3

[100 rows x 2 columns]

In [2564]:
GDPGrowthRatesMonthly = pd.DataFrame(columns=["Time", "GDP Growth Rate"])
for i in range(len(GDPGrowthRates)):
    ymd = GDPGrowthRates.iloc[i, GDPGrowthRates.columns.get_loc("Time")].split("-")
    if ymd[1] == "01":
        months = ["Oct", "Nov", "Dec"]
        ymd[0] = str(int(ymd[0]) - 1)
    elif ymd[1] == "04":
        months = ["Jan", "Feb", "Mar"]
    elif ymd[1] == "07":
        months = ["Apr", "May", "Jun"]
    else:
        months = ["Jul", "Aug", "Sep"]
    for j in range(len(months)):
        GDPGrowthRatesMonthly.loc[len(GDPGrowthRatesMonthly) + j] = [f"{months[j]}/{ymd[0]}", 
                                                                     f"{GDPGrowthRates.iloc[i, GDPGrowthRates.columns.get_loc('GDP Growth Rate')]}"]
GDPGrowthRatesMonthly.set_index("Time", inplace=True)
GDPGrowthRatesMonthly

         GDP Growth Rate
Time
Jan/1999             3.4
Feb/1999             3.4
Mar/1999             3.4
Apr/1999             5.4
May/1999             5.4
...                  ...
Aug/2023             3.4
Sep/2023             3.4
Oct/2023             1.3
Nov/2023             1.3
Dec/2023             1.3

[300 rows x 1 columns]

# Unemployment Rate

In [2565]:
UnemploymentRate = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_UnemploymentRate.csv")
UnemploymentRate.drop([i for i in range(51)], inplace=True)
UnemploymentRate.drop(76, inplace=True)
UnemploymentRate

    Year  Jan  Feb  Mar   Apr   May   Jun   Jul  Aug  Sep   Oct  Nov  Dec
51  1999  4.3  4.4  4.2   4.3   4.2   4.3   4.3  4.2  4.2   4.1  4.1  4.0
52  2000  4.0  4.1  4.0   3.8   4.0   4.0   4.0  4.1  3.9   3.9  3.9  3.9
53  2001  4.2  4.2  4.3   4.4   4.3   4.5   4.6  4.9  5.0   5.3  5.5  5.7
54  2002  5.7  5.7  5.7   5.9   5.8   5.8   5.8  5.7  5.7   5.7  5.9  6.0
55  2003  5.8  5.9  5.9   6.0   6.1   6.3   6.2  6.1  6.1   6.0  5.8  5.7
56  2004  5.7  5.6  5.8   5.6   5.6   5.6   5.5  5.4  5.4   5.5  5.4  5.4
57  2005  5.3  5.4  5.2   5.2   5.1   5.0   5.0  4.9  5.0   5.0  5.0  4.9
58  2006  4.7  4.8  4.7   4.7   4.6   4.6   4.7  4.7  4.5   4.4  4.5  4.4
59  2007  4.6  4.5  4.4   4.5   4.4   4.6   4.7  4.6  4.7   4.7  4.7  5.0
60  2008  5.0  4.9  5.1   5.0   5.4   5.6   5.8  6.1  6.1   6.5  6.8  7.3
61  2009  7.8  8.3  8.7   9.0   9.4   9.5   9.5  9.6  9.8  10.0  9.9  9.9
62  2010  9.8  9.8  9.9   9.9   9.6   9.4   9.4  9.5  9.5   9.4  9.8  9.3
63  2011  9.1  9.0  9.0   9.1   9.0   9.1   9.0  9.0  9.0   8.8  8.6  8.5
64  2012  8.3  8.3  8.2   8.2   8.2   8.2   8.2  8.1  7.8   7.8  7.7  7.9
65  2013  8.0  7.7  7.5   7.6   7.5   7.5   7.3  7.2  7.2   7.2  6.9  6.7
66  2014  6.6  6.7  6.7   6.2   6.3   6.1   6.2  6.1  5.9   5.7  5.8  5.6
67  2015  5.7  5.5  5.4   5.4   5.6   5.3   5.2  5.1  5.0   5.0  5.1  5.0
68  2016  4.8  4.9  5.0   5.1   4.8   4.9   4.8  4.9  5.0   4.9  4.7  4.7
69  2017  4.7  4.6  4.4   4.4   4.4   4.3   4.3  4.4  4.3   4.2  4.2  4.1
70  2018  4.0  4.1  4.0   4.0   3.8   4.0   3.8  3.8  3.7   3.8  3.8  3.9
71  2019  4.0  3.8  3.8   3.7   3.6   3.6   3.7  3.6  3.5   3.6  3.6  3.6
72  2020  3.6  3.5  4.4  14.8  13.2  11.0  10.2  8.4  7.8   6.8  6.7  6.7
73  2021  6.4  6.2  6.1   6.1   5.8   5.9   5.4  5.1  4.7   4.5  4.1  3.9
74  2022  4.0  3.8  3.6   3.7   3.6   3.6   3.5  3.6  3.5   3.6  3.6  3.5
75  2023  3.4  3.6  3.5   3.4   3.7   3.6   3.5  3.8  3.8   3.8  3.7  3.7

In [2566]:
UnemploymentRate_Stacked = pd.DataFrame(columns=["Time", "Unemployment Rate"])
for i in range(len(UnemploymentRate)):
    for j in range(1, len(UnemploymentRate.columns)):
        UnemploymentRate_Stacked.loc[len(UnemploymentRate_Stacked)] = [f"{UnemploymentRate.columns[j]}/{UnemploymentRate.iloc[i, UnemploymentRate.columns.get_loc('Year')]}",
                                                               f"{UnemploymentRate.iloc[i, UnemploymentRate.columns.get_loc(UnemploymentRate.columns[j])]}"]
UnemploymentRate_Stacked.set_index("Time", inplace=True)
UnemploymentRate_Stacked

         Unemployment Rate
Time
Jan/1999               4.3
Feb/1999               4.4
Mar/1999               4.2
Apr/1999               4.3
May/1999               4.2
...                    ...
Aug/2023               3.8
Sep/2023               3.8
Oct/2023               3.8
Nov/2023               3.7
Dec/2023               3.7

[300 rows x 1 columns]

# Consumer Expenditure

In [2567]:
ConsumerExpenditure = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_ConsumerExpenditureRates.csv", names=["Time", "Consumer Expenditure"])
ConsumerExpenditure.drop(0, inplace=True)
ConsumerExpenditureMonthly = pd.DataFrame(columns=["Time", "Consumer Expenditure"])
months = {1: "Jan", 2: "Feb", 3: "Mar", 4: "Apr", 5: "May", 6: "Jun", 7: "Jul", 8: "Aug", 9: "Sep", 10: "Oct", 11: "Nov", 12: "Dec"}
for i in range(len(ConsumerExpenditure)):
    ymd = ConsumerExpenditure.iloc[i, ConsumerExpenditure.columns.get_loc("Time")].split("-")
    ConsumerExpenditureMonthly.loc[len(ConsumerExpenditureMonthly)] = [f"{months[int(ymd[1])]}/{ymd[0]}", f"{ConsumerExpenditure.iloc[i, ConsumerExpenditure.columns.get_loc('Consumer Expenditure')]}"]
ConsumerExpenditureMonthly.drop([i for i in range(479)], inplace=True)
ConsumerExpenditureMonthly.set_index("Time", inplace=True)
ConsumerExpenditureMonthly

         Consumer Expenditure
Time
Jan/1999                 -0.1
Feb/1999                  0.5
Mar/1999                  0.5
Apr/1999                  0.6
May/1999                  0.5
...                       ...
Dec/2023                  0.5
Jan/2024                 -0.3
Feb/2024                  0.3
Mar/2024                  0.4
Apr/2024                 -0.1

[304 rows x 1 columns]

# Real Wage Growth

In [2568]:
RealWageGrowth = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_RealWageGrowth.csv")
RealWageGrowth.drop(25, inplace=True)
RealWageGrowth

    Year  Qtr1  Qtr2  Qtr3  Qtr4
0   1999   1.6   3.5   2.8   2.1
1   2000   3.1   1.5   1.2  -0.3
2   2001  -0.6   0.3   1.2   1.8
3   2002   2.7   1.2  -0.3  -1.2
4   2003  -1.5  -0.6   0.3   0.0
5   2004   0.3   0.9  -0.6   0.3
6   2005   0.0  -2.1  -1.2  -1.8
7   2006  -1.2  -1.5   0.9   1.5
8   2007   1.2   1.8   0.6  -1.2
9   2008  -0.3   0.0  -1.5   2.4
10  2009   2.7   3.0   4.0   1.2
11  2010  -0.3  -0.6  -0.9  -0.6
12  2011  -1.7  -1.8  -2.1  -1.7
13  2012  -1.2   0.3  -0.9  -0.6
14  2013  -0.9  -0.6   0.3   0.3
15  2014   1.5  -1.5   0.6   0.3
16  2015   1.5   2.7   1.5   3.0
17  2016   1.7   1.8   1.8   0.9
18  2017   1.4   2.3   2.0  -1.1
19  2018  -0.3  -0.9   0.6   2.9
20  2019   1.1   2.0   1.7   2.0
21  2020   3.4   9.9   7.0   3.8
22  2021   1.6  -5.6  -4.4  -3.7
23  2022  -2.9  -3.3  -1.4   0.3
24  2023   0.3   1.7   0.8   2.2

In [2569]:
RealWageGrowthMonthly = pd.DataFrame(columns=["Time", "Real Wage Growth"])
for i in range(len(RealWageGrowth)):
    for j in range(1, len(RealWageGrowth.columns)):
        if j == 1:
            months = ["Jan", "Feb", "Mar"]
        elif j == 2:
            months = ["Apr", "May", "Jun"]
        elif j == 3:
            months = ["Jul", "Aug", "Sep"]
        else:
            months = ["Oct", "Nov", "Dec"]
        for m in months:
            RealWageGrowthMonthly.loc[len(RealWageGrowthMonthly)] = [f"{m}/{int(RealWageGrowth.iloc[i, RealWageGrowth.columns.get_loc('Year')])}", 
                                                                     f"{RealWageGrowth.iloc[i, RealWageGrowth.columns.get_loc(RealWageGrowth.columns[j])]}"]
RealWageGrowthMonthly.set_index("Time", inplace=True)
RealWageGrowthMonthly

         Real Wage Growth
Time
Jan/1999              1.6
Feb/1999              1.6
Mar/1999              1.6
Apr/1999              3.5
May/1999              3.5
...                   ...
Aug/2023              0.8
Sep/2023              0.8
Oct/2023              2.2
Nov/2023              2.2
Dec/2023              2.2

[300 rows x 1 columns]

# Business Labor Productivity

In [2570]:
BLaborProductivity = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_BusinessLaborProductivityRate.csv")
BLaborProductivity.drop(25, inplace=True)
BLaborProductivity

    Year  Qtr1  Qtr2  Qtr3  Qtr4
0   1999   6.2   1.4   3.8   5.5
1   2000  -0.8   8.0   0.3   4.2
2   2001  -2.1   6.9   2.2   5.5
3   2002   7.0   1.9   3.4  -0.4
4   2003   3.9   6.3   7.9   3.2
5   2004   0.5   3.2   2.1   3.3
6   2005   4.0  -1.1   2.9   0.5
7   2006   2.7  -0.3  -1.2   2.2
8   2007   1.4   1.7   3.5   2.6
9   2008  -2.3   4.6   0.7  -1.8
10  2009   4.9   9.2   7.0   5.4
11  2010   0.1   1.2   3.1   0.8
12  2011  -2.7   0.0  -1.0   2.3
13  2012   1.6   1.9  -1.2  -1.3
14  2013   2.9  -0.4   2.8   3.6
15  2014  -3.3   2.5   2.7  -1.6
16  2015   2.4   2.3   1.0  -2.4
17  2016   1.7  -0.1   1.6   3.4
18  2017   0.3   0.0   3.2   2.9
19  2018   1.9   0.3   0.7  -0.4
20  2019   2.8   2.7   4.1   3.5
21  2020  -1.0  19.2   6.8  -3.7
22  2021   2.6   0.2  -2.2   2.7
23  2022  -6.2  -3.6   0.0   2.5
24  2023  -0.1   3.1   4.4   3.6

In [2571]:
BLaborProductivityMonthly = pd.DataFrame(columns=["Time", "Business Labour Productivity Rate"])
for i in range(len(BLaborProductivity)):
    for j in range(1, len(BLaborProductivity.columns)):
        if j == 1:
            months = ["Jan", "Feb", "Mar"]
        elif j == 2:
            months = ["Apr", "May", "Jun"]
        elif j == 3:
            months = ["Jul", "Aug", "Sep"]
        else:
            months = ["Oct", "Nov", "Dec"]
        for m in months:
            BLaborProductivityMonthly.loc[len(BLaborProductivityMonthly)] = [f"{m}/{int(BLaborProductivity.iloc[i, BLaborProductivity.columns.get_loc('Year')])}", 
                                                                     f"{BLaborProductivity.iloc[i, BLaborProductivity.columns.get_loc(BLaborProductivity.columns[j])]}"]
BLaborProductivityMonthly.set_index("Time", inplace=True)
BLaborProductivityMonthly

         Business Labour Productivity Rate
Time
Jan/1999                               6.2
Feb/1999                               6.2
Mar/1999                               6.2
Apr/1999                               1.4
May/1999                               1.4
...                                    ...
Aug/2023                               4.4
Sep/2023                               4.4
Oct/2023                               3.6
Nov/2023                               3.6
Dec/2023                               3.6

[300 rows x 1 columns]

# Manufacturing Labor Productivity

In [2572]:
MLaborProductivity = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_ManufacturingLaborProductivityRate.csv")
MLaborProductivity.drop(25, inplace=True)
MLaborProductivity

    Year  Qtr1  Qtr2  Qtr3  Qtr4
0   1999   9.5   5.5   0.4  10.2
1   2000   2.4   3.0  -0.4   2.1
2   2001  -0.4   4.0   1.0  10.3
3   2002  12.9   9.4   9.3   4.1
4   2003   7.8   4.7   9.0   0.2
5   2004  -0.5   4.3   4.0   8.0
6   2005   7.3   5.3  -0.2   0.1
7   2006   0.5  -1.9   2.8   7.0
8   2007   5.8   4.3   2.6   4.9
9   2008   0.7  -5.2  -4.5  -6.1
10  2009  -2.5   9.7  16.8   5.8
11  2010   4.1   5.5   3.4   2.1
12  2011   2.0  -5.1   4.6  -4.1
13  2012   0.0  -2.4  -1.9   0.9
14  2013   4.2   1.4  -0.5   1.0
15  2014  -1.2   0.1  -1.1  -4.8
16  2015  -3.2   0.5  -0.9  -2.4
17  2016   2.4  -2.0  -0.2   1.3
18  2017  -2.4   1.4  -6.3   1.7
19  2018   1.4   3.1  -1.2  -2.3
20  2019  -3.4  -3.8  -1.7   0.0
21  2020   1.0  -6.8  17.1  -1.4
22  2021  -1.0   5.0  -1.5  -1.8
23  2022  -2.3   0.9  -3.2  -2.7
24  2023  -1.2   3.5  -1.2   2.3

In [2573]:
MLaborProductivityMonthly = pd.DataFrame(columns=["Time", "Manufacturing Labour Productivity Rate"])
for i in range(len(MLaborProductivity)):
    for j in range(1, len(MLaborProductivity.columns)):
        if j == 1:
            months = ["Jan", "Feb", "Mar"]
        elif j == 2:
            months = ["Apr", "May", "Jun"]
        elif j == 3:
            months = ["Jul", "Aug", "Sep"]
        else:
            months = ["Oct", "Nov", "Dec"]
        for m in months:
            MLaborProductivityMonthly.loc[len(MLaborProductivityMonthly)] = [f"{m}/{int(MLaborProductivity.iloc[i, MLaborProductivity.columns.get_loc('Year')])}", 
                                                                     f"{MLaborProductivity.iloc[i, MLaborProductivity.columns.get_loc(MLaborProductivity.columns[j])]}"]
MLaborProductivityMonthly.set_index("Time", inplace=True)
MLaborProductivityMonthly

         Manufacturing Labour Productivity Rate
Time
Jan/1999                                    9.5
Feb/1999                                    9.5
Mar/1999                                    9.5
Apr/1999                                    5.5
May/1999                                    5.5
...                                         ...
Aug/2023                                   -1.2
Sep/2023                                   -1.2
Oct/2023                                    2.3
Nov/2023                                    2.3
Dec/2023                                    2.3

[300 rows x 1 columns]

# Import Price Index

In [2574]:
ImportPriceIndex = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_ImportPriceIndex.csv")
ImportPriceIndex.drop(25, inplace=True)
ImportPriceIndex

    Year  Jan  Feb  Mar  Apr  May   Jun   Jul   Aug   Sep   Oct   Nov   Dec
0   1999  0.3 -0.1  0.3  1.0  0.8  -0.2   1.0   1.1   1.1   0.2   0.7   0.7
1   2000  0.4  1.9  0.2 -1.4  0.3   1.4   0.0   0.2   1.2  -0.4   0.0  -0.7
2   2001  0.0 -0.6 -1.6 -0.5  0.2  -0.4  -1.5  -0.1  -0.1  -2.3  -1.5  -1.0
3   2002  0.2  0.0  1.3  1.6  0.1  -0.3   0.4   0.3   0.7   0.0  -0.9   0.6
4   2003  1.8  1.7  0.6 -3.1 -0.7   0.9   0.5   0.0  -0.5   0.1   0.5   0.7
5   2004  1.5  0.4  0.8  0.2  1.5  -0.2   0.4   1.5   0.5   1.6  -0.3  -1.4
6   2005  0.6  0.9  2.2  0.9 -0.8   1.2   1.2   1.4   2.1   0.1  -1.9   0.0
7   2006  1.2 -0.8 -0.1  2.1  1.8   0.1   0.8   0.5  -2.2  -2.5   0.4   1.1
8   2007 -1.2  0.4  1.6  1.4  0.9   1.2   1.3  -0.3   0.6   1.5   3.2  -0.2
9   2008  1.5  0.2  3.1  2.8  2.8   3.0   1.4  -3.1  -3.6  -6.0  -7.4  -4.6
10  2009 -1.3  0.0  0.5  1.1  1.7   2.7  -0.6   1.5   0.2   0.8   1.5   0.2
11  2010  1.2 -0.1  0.4  1.1 -0.8  -1.2   0.0   0.4   0.0   1.1   1.7   1.4
12  2011  1.5  1.7  3.0  2.6  0.1  -0.6   0.1  -0.4  -0.1  -0.4   0.7   0.0
13  2012  0.0  0.0  1.4 -0.1 -1.5  -2.3  -0.7   1.2   1.0   0.3  -0.7  -0.6
14  2013  0.5  0.9 -0.1 -0.7 -0.6  -0.4   0.1   0.4   0.3  -0.6  -0.9   0.1
15  2014  0.4  1.1  0.5 -0.6  0.3   0.3  -0.3  -0.8  -0.8  -1.4  -1.8  -2.5
16  2015 -3.2 -0.4 -0.2 -0.2  1.1   0.1  -0.9  -1.8  -1.1  -0.3  -0.6  -1.2
17  2016 -1.3 -0.5  0.4  0.7  1.2   0.7   0.1  -0.2   0.1   0.5  -0.1   0.4
18  2017  0.6  0.3 -0.2  0.2 -0.1  -0.2  -0.2   0.6   0.8   0.2   1.0   0.2
19  2018  0.8  0.2 -0.2  0.5  0.9   0.0  -0.1  -0.4   0.1   0.5  -1.6  -1.4
20  2019  0.2  1.0  0.6  0.2  0.2  -1.1   0.0  -0.6   0.1  -0.4   0.2   0.2
21  2020  0.2 -0.7 -2.4 -2.6  0.7   1.3   1.2   0.9   0.2  -0.1   0.1   1.0
22  2021  1.5  1.2  1.5  0.9  1.3   1.1   0.3  -0.2   0.4   1.5   0.7  -0.4
23  2022  2.0  1.8  2.9  0.5  0.5   0.2  -1.4  -1.2  -1.0  -0.3  -0.8   0.1
24  2023 -0.4 -0.2 -0.8  0.3 -0.4  -0.2   0.0   0.6   0.5  -0.6  -0.5  -0.7

In [2575]:
ImportPriceIndex_Stacked = pd.DataFrame(columns=["Time", "Import Price Index Rate"])
for i in range(len(ImportPriceIndex)):
    for j in range(1, len(ImportPriceIndex.columns)):
        ImportPriceIndex_Stacked.loc[len(ImportPriceIndex_Stacked)] = [f"{ImportPriceIndex.columns[j]}/{ImportPriceIndex.iloc[i, ImportPriceIndex.columns.get_loc('Year')]}",
                                                               f"{ImportPriceIndex.iloc[i, ImportPriceIndex.columns.get_loc(ImportPriceIndex.columns[j])]}"]
ImportPriceIndex_Stacked.set_index("Time", inplace=True)
ImportPriceIndex_Stacked

         Import Price Index Rate
Time
Jan/1999                     0.3
Feb/1999                    -0.1
Mar/1999                     0.3
Apr/1999                     1.0
May/1999                     0.8
...                          ...
Aug/2023                     0.6
Sep/2023                     0.5
Oct/2023                    -0.6
Nov/2023                    -0.5
Dec/2023                    -0.7

[300 rows x 1 columns]

# Export Price Index

In [2576]:
ExportPriceIndex = pd.read_csv("STA302_FinalProject_RawData/STA302_FinalProject_ExportPriceIndex.csv")
ExportPriceIndex.drop(25, inplace=True)
ExportPriceIndex

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1999,0.0,-0.2,-0.4,0.2,0.1,0.0,-0.1,0.3,0.1,0.3,0.2,0.0
1,2000,0.2,0.4,0.4,0.0,0.2,-0.1,-0.1,-0.2,0.6,-0.1,0.0,-0.2
2,2001,0.2,-0.1,-0.2,-0.1,-0.3,-0.2,-0.4,-0.2,0.2,-0.7,-0.5,-0.2
3,2002,-0.1,-0.2,0.3,0.4,0.0,0.0,0.3,0.2,0.3,-0.1,0.1,-0.2
4,2003,0.3,0.6,0.2,-0.1,0.1,-0.2,-0.1,0.0,0.4,0.2,0.5,0.3
5,2004,0.7,0.7,0.8,0.7,0.4,-0.7,0.5,-0.5,0.4,0.6,0.3,0.1
6,2005,0.8,0.1,0.7,0.5,-0.2,0.0,0.1,-0.2,0.8,0.7,-0.6,0.1
7,2006,0.7,0.1,0.2,0.7,0.7,0.7,0.4,0.4,-0.4,-0.3,0.4,0.6
8,2007,0.4,0.8,0.7,0.4,0.3,0.4,0.1,0.2,0.3,0.8,0.9,0.5
9,2008,1.2,0.9,1.6,0.5,0.3,1.0,1.5,-1.6,-0.8,-2.1,-3.2,-2.2
10,2009,0.7,-0.3,-0.7,0.5,0.4,1.0,-0.3,0.6,-0.2,0.0,0.8,0.7
11,2010,0.8,-0.3,0.7,1.1,0.5,-0.7,-0.2,0.8,0.6,0.8,1.5,0.7
12,2011,1.3,1.3,1.5,0.8,0.4,0.1,-0.4,0.4,0.5,-2.0,0.1,-0.5
13,2012,0.3,0.5,0.8,0.4,-0.5,-1.7,0.4,0.9,0.8,0.1,-0.6,-0.1
14,2013,0.4,0.7,-0.5,-0.6,-0.5,-0.1,-0.2,-0.5,0.4,-0.6,0.2,0.4
15,2014,0.3,0.8,0.9,-1.0,0.1,-0.5,0.1,-0.5,-0.4,-0.9,-0.9,-0.9
16,2015,-1.7,-0.2,0.0,-0.6,0.5,-0.3,-0.4,-1.4,-0.6,-0.2,-0.7,-1.1
17,2016,-0.9,-0.4,-0.1,0.5,1.1,0.8,0.2,-0.8,0.3,0.2,0.1,0.4
18,2017,0.2,0.3,0.1,0.2,-0.6,-0.1,0.5,0.6,0.8,0.1,0.5,0.1
19,2018,0.7,0.2,0.4,0.5,0.7,0.2,-0.5,-0.1,0.0,0.5,-0.8,-0.6
20,2019,-0.6,0.6,0.7,0.1,-0.3,-0.6,0.2,-0.6,-0.3,0.0,0.1,-0.2
21,2020,0.6,-1.2,-1.4,-3.5,0.0,1.8,1.0,0.5,0.6,0.2,0.8,1.2
22,2021,2.7,1.6,2.5,1.2,2.3,1.2,1.1,0.2,0.3,1.9,0.7,-1.6
23,2022,2.8,3.2,3.9,1.0,2.7,1.1,-3.7,-1.4,-0.9,-0.5,-0.4,-3.0
24,2023,0.2,0.4,-0.4,-0.1,-2.1,-0.6,0.3,1.2,0.5,-0.9,-0.7,-0.7

In [2577]:
ExportPriceIndex_Stacked = pd.DataFrame(columns=["Time", "Export Price Index Rate"])
for i in range(len(ExportPriceIndex)):
    for j in range(1, len(ExportPriceIndex.columns)):
        ExportPriceIndex_Stacked.loc[len(ExportPriceIndex_Stacked)] = [f"{ExportPriceIndex.columns[j]}/{ExportPriceIndex.iloc[i, ExportPriceIndex.columns.get_loc('Year')]}",
                                                               f"{ExportPriceIndex.iloc[i, ExportPriceIndex.columns.get_loc(ExportPriceIndex.columns[j])]}"]
ExportPriceIndex_Stacked.set_index("Time", inplace=True)
ExportPriceIndex_Stacked

         Export Price Index Rate
Time
Jan/1999                     0.0
Feb/1999                    -0.2
Mar/1999                    -0.4
Apr/1999                     0.2
May/1999                     0.1
...                          ...
Aug/2023                     1.2
Sep/2023                     0.5
Oct/2023                    -0.9
Nov/2023                    -0.7
Dec/2023                    -0.7

[300 rows x 1 columns]

# Synthesizing Dataset

In [2578]:
frames = [ApprovalRates,
          GDPGrowthRatesMonthly,
          ConsumerExpenditureMonthly,
          RealWageGrowthMonthly,
          BLaborProductivityMonthly,
          MLaborProductivityMonthly,
          InflationRates_Stacked,
          PInflationRates_Stacked,
          UnemploymentRate_Stacked,
          ImportPriceIndex_Stacked,
          ExportPriceIndex_Stacked]
# ApprovalRates
# GDPGrowthRatesMonthly
# InflationRates_Stacked
# UnemploymentRate_Stacked
df = pd.concat(frames, axis=1)
df.drop(["Dec/2022", "Oct/2012"], inplace=True)
df.dropna(axis=0, inplace=True)
df.reset_index(inplace=True)
df.set_index("Approve", inplace=True)
df.reset_index(inplace=True)

In [2579]:
print(df.loc[df["Time"] == "Oct/2000"])
print(df.iloc[47])

    Approve      Time GDP Growth Rate Consumer Expenditure Real Wage Growth  \
21     0.57  Oct/2000            -1.3                 -0.1             -0.3

   Business Labour Productivity Rate Manufacturing Labour Productivity Rate  \
21                               4.2                                    2.1

   Inflation Rate Producer Inflation Rate Unemployment Rate  \
21            2.5                     0.1               3.9

   Import Price Index Rate Export Price Index Rate
21                    -0.4                    -0.1
Approve                                       0.63
Time                                      Dec/2002
GDP Growth Rate                                2.1
Consumer Expenditure                           0.7
Real Wage Growth                              -1.2
Business Labour Productivity Rate             -0.4
Manufacturing Labour Productivity Rate         4.1
Inflation Rate                                 1.9
Producer Inflation Rate                       -0.4
Unemployment Rate                              6.0
Import Price Index Rate                        0.6
Export Price Index Rate                       -0.2
Name: 47, dtype: object

In [2580]:
df.drop(
    [32, 33, 34, 35, 36, 37, 38, 39,
    40, 41, 42, 43, 44, 45, 46, 47, 251, 252, 253, 254, 255,
    256, 257, 258, 259, 260, 261, 262, 263, 264, 265,
    266,],
    axis=0,
    inplace=True)

In [2581]:
# 21, 121, 122,

In [2582]:
df_time = df["Time"]
df.drop("Time", axis=1, inplace=True)
df_time

0      Jan/1999
1      Feb/1999
2      Mar/1999
3      Apr/1999
4      May/1999
         ...
293    Aug/2023
294    Sep/2023
295    Oct/2023
296    Nov/2023
297    Dec/2023
Name: Time, Length: 266, dtype: object

In [2583]:
df = df.apply(pd.to_numeric)
type(df.iloc[1][1])

C:\Users\thepo\AppData\Local\Temp\ipykernel_30816\4249034450.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(df.iloc[1][1])

numpy.float64

In [2584]:
# df = (df - df.mean())/df.std()
df = (df - df.min() + 0.01)/(df.max() - df.min() + 0.01)
df = pd.concat([df, df_time], axis=1)
df.set_index("Approve", inplace=True)
df

,GDP Growth Rate,Consumer Expenditure,Real Wage Growth,Business Labour Productivity Rate,Manufacturing Labour Productivity Rate,Inflation Rate,Producer Inflation Rate,Unemployment Rate,Import Price Index Rate,Export Price Index Rate,Time
Approve,,,,,,,,,,,
0.977273,0.743910,0.383886,0.750260,0.805321,0.684119,0.301165,0.579501,0.137670,0.726673,0.487516,Jan/1999
0.909091,0.743910,0.668246,0.750260,0.805321,0.684119,0.251248,0.526938,0.152799,0.688973,0.461235,Feb/1999
0.863636,0.743910,0.668246,0.750260,0.805321,0.684119,0.251248,0.592641,0.122542,0.726673,0.434954,Mar/1999
0.750000,0.868832,0.715640,0.947971,0.493835,0.511034,0.267887,0.671485,0.137670,0.792648,0.513798,Apr/1999
0.727273,0.868832,0.668246,0.947971,0.493835,0.511034,0.234609,0.579501,0.122542,0.773798,0.500657,May/1999
...,...,...,...,...,...,...,...,...,...,...,...
0.363636,0.743910,0.383886,0.667014,0.688514,0.221116,0.617304,0.855453,0.062027,0.754948,0.645204,Aug/2023
0.340909,0.743910,0.620853,0.667014,0.688514,0.221116,0.584027,0.618922,0.062027,0.745523,0.553219,Sep/2023
0.250000,0.612742,0.526066,0.812695,0.636600,0.372566,0.567388,0.382392,0.062027,0.641847,0.369251,Oct/2023
0.250000,0.612742,0.620853,0.812695,0.636600,0.372566,0.567388,0.408673,0.046899,0.651272,0.395532,Nov/2023
0.295455,0.612742,0.668246,0.812695,0.636600,0.372566,0.550749,0.382392,0.046899,0.632422,0.395532,Dec/2023

In [2585]:
df.to_csv("STA302_FinalProject_Dataset", sep=",")